In [16]:
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
df = pd.read_csv('clean_dataset.csv', usecols=['first_name', 'middle_name', 'last_name', 'gender', 'code'])

In [34]:
pd.set_option('max_rows', None)
df.head(100)

   first_name middle_name last_name gender code
0           A      HANNAN       NaN      M   CF
1           A      HANNAN       NaN      M   BJ
2           A      HANNAN       NaN      M   TD
3           A      HANNAN       NaN      M   TG
4           A      HANNAN       NaN      M   BE
5           A      HANNAN       NaN      M   GN
6           A      HANNAN       NaN      M   FR
7           A      HANNAN       NaN      M   MC
8           A      HANNAN       NaN      M   CG
9           A      HANNAN       NaN      M   BF
10          A      HANNAN       NaN      M   LU
11          A      HANNAN       NaN      M   ML
12          A      HANNAN       NaN      M   CH
13          A      HANNAN       NaN      M   GA
14          A      HANNAN       NaN      M   NE
15          A      HANNAN       NaN      M   SN
16          A      HANNAN       NaN      M   CD
17          A      HANNAN       NaN      M   CA
18          A      HANNAN       NaN      M   DJ
19          A      HANNAN       NaN      M   MG
20          A      HANNAN       NaN      M   CM
21          A      HANNAN       NaN      M   CI
22          A      HANNAN       NaN      M   HT
23          A      HANNAN       NaN      M   BZ
24          A      HANNAN       NaN      M   AG
25          A      HANNAN       NaN      M   JM
26          A      HANNAN       NaN      M   GD
27          A      HANNAN       NaN      M   GB
28          A      HANNAN       NaN      M   SL
29          A      HANNAN       NaN      M   AU
30          A      HANNAN       NaN      M   SZ
31          A      HANNAN       NaN      M   MT
32          A      HANNAN       NaN      M   US
33          A      HANNAN       NaN      M   VC
34          A      HANNAN       NaN      M   DM
35          A      HANNAN       NaN      M   NG
36          A      HANNAN       NaN      M   UG
37          A      HANNAN       NaN      M   LC
38          A      HANNAN       NaN      M   TT
39          A      HANNAN       NaN      M   FJ
40          A      HANNAN       NaN      M   MH
41          A      HANNAN       NaN      M   LR
42          A      HANNAN       NaN      M   GY
43          A      HANNAN       NaN      M   NZ
44          A      HANNAN       NaN      M   KE
45          A      HANNAN       NaN      M   BB
46          A      HANNAN       NaN      M   TO
47          A      HANNAN       NaN      M   IE
48          A      HANNAN       NaN      M   MW
49          A      HANNAN       NaN      M   KN
50          A         JAY       NaN      M   CM
51          A         JAY       NaN      M   GA
52          A         JAY       NaN      M   CG
53          A         JAY       NaN      M   NE
54          A         JAY       NaN      M   CA
55          A         JAY       NaN      M   MC
56          A         JAY       NaN      M   BJ
57          A         JAY       NaN      M   LU
58          A         JAY       NaN      M   SN
59          A         JAY       NaN      M   CI
60          A         JAY       NaN      M   BE
61          A         JAY       NaN      M   TG
62          A         JAY       NaN      M   CD
63          A         JAY       NaN      M   MG
64          A         JAY       NaN      M   HT
65          A         JAY       NaN      M   BF
66          A         JAY       NaN      M   ML
67          A         JAY       NaN      M   CH
68          A         JAY       NaN      M   FR
69          A         JAY       NaN      M   CF
70          A         JAY       NaN      M   DJ
71          A         JAY       NaN      M   GN
72          A         JAY       NaN      M   TD
73          A         JAY       NaN      M   AU
74          A         JAY       NaN      M   JM
75          A         JAY       NaN      M   DM
76          A         JAY       NaN      M   IE
77          A         JAY       NaN      M   TT
78          A         JAY       NaN      M   GY
79          A         JAY       NaN      M   NZ
80          A         JAY       NaN      M   FJ
81          A         JAY       NaN      M   BZ
82          A         JAY       NaN      M   SZ
83          A         JAY       NaN      M   SL
84          A         JAY       NaN      M   TO
85          A         JAY       NaN      M   LR
86          A         JAY       NaN      M   UG
87          A         JAY       NaN      M   GD
88          A         JAY       NaN      M   KE
89          A         JAY       NaN      M   US
90          A         JAY       NaN      M   MT
91          A         JAY       NaN      M   AG
92          A         JAY       NaN      M   MW
93          A         JAY       NaN      M   GB
94          A         JAY       NaN      M   KN
95          A         JAY       NaN      M   LC
96          A         JAY       NaN      M   BB
97          A         JAY       NaN      M   NG
98          A         JAY       NaN      M   VC
99          A         JAY       NaN      M   MH

In [19]:
df.shape #before removing dups

(6276000, 5)

In [20]:
#removing the duplicates
new_df = df.drop_duplicates(subset=['first_name', 'last_name', 'middle_name', 'gender'], keep='first')

In [21]:
new_df.shape

(175444, 5)

In [22]:
new_df.reset_index(inplace=True)

In [27]:
df1 = new_df[['first_name', 'middle_name', 'last_name', 'gender', 'code']]

In [30]:
df1.first_name.count()

175439

In [32]:
df1.middle_name.count()

14617

In [33]:
df1.last_name.count()

263

In [28]:
df1.head()

  first_name middle_name last_name gender code
0          A      HANNAN       NaN      M   CF
1          A         JAY       NaN      M   CM
2          A           K         I      M   GA
3          A         LAH       NaN      F   AU
4          A         RIN       NaN      F   AU

In [29]:
df1.to_csv("cleaned_dataset1.csv")